.addressContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    background-color: #ededed;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.addressHeader{
  display: flex;
  
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  
  
    
}

.addressHeader p{
 margin-left: 5rem;
 font-weight: bold;
 font-size: 1.3rem;
}

.addressArrow{
  font-size: 2rem;
  
    
    
}
.addressDelivery{
  text-align: left;
  margin-bottom: 2rem;

}

.addressChange{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: bold;
    
    
    
}
.addressInfo{
  background-color: #fff;
  /* padding: 0.5rem; */
  border-radius: 1rem;
  text-align: left;
  margin-left: 1rem;
  padding: 2rem;
  
}
.class{
  border-bottom: 1px solid rgb(240, 219, 219);
  padding: 0.25rem;
}

.addressButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  
}
.addressButton Button{
 color: black;
 font-weight: bold;
 border-radius: 2rem;
}